@charset "UTF-8";

/* sample */

input, select, button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: none;
  outline: none;
  padding: 0px;
}

.base {
  width: 100%;
  padding: 60px 0;
  background: #cff1ff;
}

.inner {
  margin: 0 auto;
  width: 600px;
}

.content_title {
  font-size: 18px;
  color: #000000;
}

.input_section {
  margin-top: 25px;
}

.label_text {
  font-size: 14px;
  color: #464646;
}

.personal_content, .account_content, .contact_content, .subscription_content, .submit_content {
  margin-top: 50px;
}

.required {
  color: #e40000;
}

.page_title {
  margin-bottom: 60px;
  font-size: 28px;
  text-align: center;
}

.form_base {
  padding: 50px;
  background: #ecfaff;
  margin-bottom: 60px;
}

.form_title {
  font-size: 24px;
  text-align: center;
}

.input_area {
  width: 100%;
  height: 35px;
  margin-top: 6px;
  padding: 5px;
  color: #545658;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  background: #fbfbfb;
}

.input_area:focus {
  background-color: #fff;
  border-color: rgba(93, 130, 194, 0.4);
  box-shadow: 0px 0px 0px 2px rgba(1, 90, 191, 0.1);
}

.select_area, .gender_area {
  margin-top: 6px;
}

.select_unit {
  width: 100%;
  position: relative;
}

.select_unit:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  right: 10px;
  top: 45%;
  display: inline-block;
  border-bottom: 2px solid #c3c3c3;
  border-right: 2px solid #c3c3c3;
  transform: rotate(45deg);
}

.gender_element {
  margin-left: 10px;
}

.gender_element:first-child {
  margin-left: 0;
}

.gender_element span {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
  color: #545658;
}

.gender_element span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 14px;
  height: 14px;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  transform: translateY(-50%);
}

.gender_content:checked+span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #017cbf;
  border-radius: 50%;
  transform: translateY(-50%);
}

.subscription_label {
  position: relative;
  padding-left: 25px;
}

.subscription_label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 15px;
  height: 15px;
  margin-top: -8px;
  border: 1px solid #d9d9d9;
  background: #ffffff;
}

.subscription_unit input:checked+.subscription_label:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;
  width: 6px;
  height: 13px;
  margin-top: -11px;
  border-right: 3px solid #0140bf;
  border-bottom: 3px solid #0140bf;
  transform: rotate(45deg);
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  transition: 0.3s;
  padding: 13px;
  width: 100%;
}

.btn_submit {
  padding: 13px;
  background: #0170bf;
  color: #fff;
}

.btn_submit:active {
  background: #fff;
  color: #0170bf;
  border: 1px solid #d9d9d9;
}

.other-text {
  margin-top: 25px;
  font-size: 10px
}

.link-color {
  color: #0170bf;
  text-decoration: none;
}